# .env.example
GEMINI_API_KEY="AQ.Ab8RN6IWZjpqF_Rhhf4Hr-7Wu8df5nskbTo231hzye7K44NctA"
RIOT_API_KEY="RGAPI-76e1de6d-a0f9-46ae-bc56-de90916fc955"
APP_URL="https://ais-dev-qp6fg2lk6hucigr655ejjz-684278329860.europe-west2.run.app"
